In [3]:
import numpy as np

In [4]:
a = np.arange(100)
print(a)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95
 96 97 98 99]

In [5]:
array1=np.array([51,52,3,54,55,56,57,58,59,60,61,62,63,64,65,6667,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99])

In [7]:
type(array1)

numpy.ndarray

In [8]:
array1 * 2

array([  102,   104,     6,   108,   110,   112,   114,   116,   118,
         120,   122,   124,   126,   128,   130, 13334,   136,   138,
         140,   142,   144,   146,   148,   150,   152,   154,   156,
         158,   160,   162,   164,   166,   168,   170,   172,   174,
         176,   178,   180,   182,   184,   186,   188,   190,   192,
         194,   196,   198])

In [9]:
array1 > 80

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [11]:
array2 = array1[array1 > 80]
print(array2)

[6667   81   82   83   84   85   86   87   88   89   90   91   92   93
   94   95   96   97   98   99]

In [13]:
array2 = array1[array1 % 2 == 0]
print(array2)

[52 54 56 58 60 62 64 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98]

In [15]:
score = np.loadtxt("C:\\Users\\Vaijnath Shejul\\Downloads\\download\\survey.txt", dtype = "int")

In [16]:
score = np.loadtxt("survey.txt", dtype = "int")

In [23]:
print(score.shape)
print(score.ndim)

(1167,)
1

In [24]:
score[:5]

array([ 7, 10,  5,  9,  9])

In [34]:
detractors = score[ score < 7]
print(detractors)

[5 4 4 5 1 5 5 1 4 5 4 4 4 5 1 4 1 4 1 5 5 1 1 4 1 5 4 1 1 4 1 5 1 4 4 1 1
 1 1 1 1 1 4 1 1 5 5 5 4 4 1 4 1 4 1 5 1 1 5 4 4 4 4 1 4 5 4 4 1 1 5 5 1 5
 1 5 5 4 5 4 1 1 1 1 4 1 4 4 5 4 1 1 1 1 5 4 5 5 4 1 5 1 4 4 1 1 1 4 4 5 5
 4 5 5 5 1 4 1 5 5 1 5 1 1 5 5 4 4 1 4 4 4 1 1 4 4 4 5 5 1 1 4 1 4 1 4 1 4
 1 4 1 5 4 4 5 1 4 5 5 5 1 5 4 1 1 5 5 5 4 5 4 4 1 4 4 4 4 5 1 5 5 1 4 4 5
 1 1 4 5 5 5 1 4 5 5 4 1 5 5 5 1 1 5 5 1 1 1 4 5 5 4 4 4 5 1 4 1 4 5 4 5 5
 1 5 1 5 5 1 4 5 5 4 1 5 1 4 1 4 1 1 1 1 1 1 4 1 5 4 5 1 5 1 5 4 4 4 4 5 5
 1 4 1 5 5 1 4 1 1 4 4 4 4 1 4 1 1 4 1 5 4 1 1 5 4 5 4 4 4 1 5 5 1 4 5 4 4
 4 1 4 1 4 4 4 5 1 1 1 4 5 5 1 5 4 5 5 4 1 1 5 5 5 1 4 5 4 5 5 5 1 4 1 5]

In [27]:
num_detractors = len(detractors)
print(num_detractors)

332

In [28]:
total = len(score)

In [30]:
perc_detractors = num_detractors/total
print(perc_detractors)

0.28449014567266495

In [36]:
promoters = score[ score > 8]
num_promoters = len(promoters)
print(promoters)

[10  9  9  9  9  9 10  9  9 10  9  9  9  9  9  9  9 10 10  9 10  9 10  9
  9 10 10  9 10  9 10 10 10  9  9 10 10 10  9 10  9 10  9  9  9 10  9  9
  9  9  9  9 10  9  9  9 10  9 10  9  9  9  9  9 10 10  9 10  9  9 10  9
  9 10  9  9  9  9  9  9  9  9  9  9  9 10  9  9  9  9  9  9  9  9 10  9
  9  9  9  9 10 10  9 10 10 10 10  9 10  9  9  9  9  9  9  9 10  9 10  9
 10  9 10 10 10  9  9 10 10  9  9  9  9 10  9  9  9  9 10 10  9  9  9 10
  9  9  9  9  9 10  9  9  9 10  9 10 10  9  9  9  9 10  9 10  9  9  9  9
 10  9 10  9  9  9  9  9  9  9  9  9  9  9 10 10  9  9  9 10  9 10 10 10
 10 10  9  9  9  9 10 10 10  9  9 10  9 10 10 10 10  9 10 10  9 10  9  9
  9  9 10  9 10  9 10  9  9  9  9 10  9  9  9  9  9 10  9 10 10  9 10 10
 10  9  9  9  9  9  9 10  9  9 10  9 10 10  9  9  9 10 10 10 10  9  9  9
 10 10  9 10  9  9  9 10  9  9  9  9  9  9  9  9  9  9 10  9  9  9 10  9
 10  9 10  9 10  9  9 10 10  9  9  9 10  9  9 10  9  9  9  9  9  9 10 10
  9 10  9  9  9  9 10  9  9  9  9 10  9 10  9 10  9 10 10  9 10 10  9 10
  9  9  9  9  9 10  9 10 10  9 10 10  9  9 10  9 10 10  9 10 10 10  9  9
  9 10  9  9  9 10  9  9  9  9  9 10  9  9  9 10  9  9  9  9  9 10  9 10
  9  9 10  9  9  9  9  9  9 10  9  9  9  9  9  9  9  9  9  9 10  9 10  9
  9  9  9  9  9  9  9  9  9  9  9  9  9 10 10  9  9  9  9 10  9 10  9 10
 10  9  9 10  9 10 10 10  9  9  9 10 10  9  9  9 10  9  9  9  9 10  9 10
  9  9 10  9  9  9 10  9  9  9  9 10  9  9  9  9  9  9 10  9 10 10  9  9
  9 10 10 10 10  9  9 10 10  9 10  9 10  9 10  9  9 10  9 10 10  9  9  9
  9  9  9  9  9  9  9  9  9  9  9  9  9  9  9  9  9  9  9  9  9  9  9 10
 10  9  9  9  9 10 10  9 10 10  9 10 10  9 10 10 10  9  9 10 10 10  9  9
 10 10  9  9  9  9  9  9 10 10 10 10 10 10  9  9  9  9 10 10  9  9  9  9
  9 10 10  9 10 10  9 10 10  9 10 10  9 10  9 10 10  9 10 10  9  9  9  9
 10  9  9 10 10 10 10  9 10]

In [39]:
perc_promoters = num_promoters/total
print(perc_promoters)

0.5218508997429306

In [40]:
nps = perc_promoters - perc_detractors
print(nps)

0.2373607540702657

In [41]:
score.min()

1

In [42]:
score.max()

10

In [44]:
ans = np.round(nps, 2)
print(ans)

0.24

In [45]:
data = np.loadtxt("fit.txt", dtype = 'str')

In [46]:
print(data)

[['06-10-2017' '5464' 'Neutral' '181' '5' 'Inactive']
 ['07-10-2017' '6041' 'Sad' '197' '8' 'Inactive']
 ['08-10-2017' '25' 'Sad' '0' '5' 'Inactive']
 ['09-10-2017' '5461' 'Sad' '174' '4' 'Inactive']
 ['10-10-2017' '6915' 'Neutral' '223' '5' 'Active']
 ['11-10-2017' '4545' 'Sad' '149' '6' 'Inactive']
 ['12-10-2017' '4340' 'Sad' '140' '6' 'Inactive']
 ['13-10-2017' '1230' 'Sad' '38' '7' 'Inactive']
 ['14-10-2017' '61' 'Sad' '1' '5' 'Inactive']
 ['15-10-2017' '1258' 'Sad' '40' '6' 'Inactive']
 ['16-10-2017' '3148' 'Sad' '101' '8' 'Inactive']
 ['17-10-2017' '4687' 'Sad' '152' '5' 'Inactive']
 ['18-10-2017' '4732' 'Happy' '150' '6' 'Active']
 ['19-10-2017' '3519' 'Sad' '113' '7' 'Inactive']
 ['20-10-2017' '1580' 'Sad' '49' '5' 'Inactive']
 ['21-10-2017' '2822' 'Sad' '86' '6' 'Inactive']
 ['22-10-2017' '181' 'Sad' '6' '8' 'Inactive']
 ['23-10-2017' '3158' 'Neutral' '99' '5' 'Inactive']
 ['24-10-2017' '4383' 'Neutral' '143' '4' 'Inactive']
 ['25-10-2017' '3881' 'Neutral' '125' '5' 'Inactive']
 ['26-10-2017' '4037' 'Neutral' '129' '6' 'Inactive']
 ['27-10-2017' '202' 'Neutral' '6' '8' 'Inactive']
 ['28-10-2017' '292' 'Neutral' '9' '5' 'Inactive']
 ['29-10-2017' '330' 'Happy' '10' '6' 'Inactive']
 ['30-10-2017' '2209' 'Neutral' '72' '5' 'Inactive']
 ['31-10-2017' '4550' 'Happy' '150' '8' 'Active']
 ['01-11-2017' '4435' 'Happy' '141' '5' 'Inactive']
 ['02-11-2017' '4779' 'Happy' '156' '4' 'Inactive']
 ['03-11-2017' '1831' 'Happy' '57' '5' 'Inactive']
 ['04-11-2017' '2255' 'Happy' '72' '4' 'Inactive']
 ['05-11-2017' '539' 'Happy' '17' '5' 'Active']
 ['06-11-2017' '5464' 'Happy' '181' '4' 'Inactive']
 ['07-11-2017' '6041' 'Neutral' '197' '3' 'Inactive']
 ['08-11-2017' '4068' 'Happy' '131' '2' 'Inactive']
 ['09-11-2017' '4683' 'Happy' '154' '9' 'Inactive']
 ['10-11-2017' '4033' 'Happy' '137' '5' 'Inactive']
 ['11-11-2017' '6314' 'Happy' '193' '6' 'Active']
 ['12-11-2017' '614' 'Happy' '19' '4' 'Active']
 ['13-11-2017' '3149' 'Happy' '101' '5' 'Active']
 ['14-11-2017' '4005' 'Happy' '139' '8' 'Active']
 ['15-11-2017' '4880' 'Happy' '164' '4' 'Active']
 ['16-11-2017' '4136' 'Happy' '137' '5' 'Active']
 ['17-11-2017' '705' 'Happy' '22' '6' 'Active']
 ['18-11-2017' '570' 'Neutral' '17' '5' 'Active']
 ['19-11-2017' '269' 'Happy' '9' '6' 'Active']
 ['20-11-2017' '4275' 'Happy' '145' '5' 'Inactive']
 ['21-11-2017' '5999' 'Happy' '192' '6' 'Inactive']
 ['22-11-2017' '4421' 'Happy' '146' '5' 'Inactive']
 ['23-11-2017' '6930' 'Happy' '234' '6' 'Inactive']
 ['24-11-2017' '5195' 'Happy' '167' '5' 'Inactive']
 ['25-11-2017' '546' 'Happy' '16' '6' 'Inactive']
 ['26-11-2017' '493' 'Happy' '17' '7' 'Active']
 ['27-11-2017' '995' 'Happy' '32' '6' 'Active']
 ['28-11-2017' '1163' 'Neutral' '35' '7' 'Active']
 ['29-11-2017' '6676' 'Sad' '220' '6' 'Active']
 ['30-11-2017' '3608' 'Happy' '116' '5' 'Active']
 ['01-12-2017' '774' 'Happy' '23' '6' 'Active']
 ['02-12-2017' '1421' 'Happy' '44' '7' 'Active']
 ['03-12-2017' '4064' 'Happy' '131' '8' 'Active']
 ['04-12-2017' '2725' 'Happy' '86' '8' 'Active']
 ['05-12-2017' '5934' 'Happy' '194' '7' 'Active']
 ['06-12-2017' '1867' 'Happy' '60' '8' 'Active']
 ['07-12-2017' '3721' 'Sad' '121' '5' 'Active']
 ['08-12-2017' '2374' 'Neutral' '76' '4' 'Inactive']
 ['09-12-2017' '2909' 'Neutral' '93' '3' 'Active']
 ['10-12-2017' '1648' 'Sad' '53' '3' 'Active']
 ['11-12-2017' '799' 'Sad' '25' '4' 'Inactive']
 ['12-12-2017' '7102' 'Neutral' '227' '5' 'Active']
 ['13-12-2017' '3941' 'Neutral' '125' '5' 'Active']
 ['14-12-2017' '7422' 'Happy' '243' '5' 'Active']
 ['15-12-2017' '437' 'Neutral' '14' '3' 'Active']
 ['16-12-2017' '1231' 'Neutral' '39' '4' 'Active']
 ['17-12-2017' '1696' 'Sad' '55' '4' 'Inactive']
 ['18-12-2017' '4921' 'Neutral' '158' '5' 'Active']
 ['19-12-2017' '221' 'Sad' '7' '5' 'Active']
 ['20-12-2017' '6500' 'Neutral' '213' '5' 'Active']
 ['21-12-2017' '3575' 'Neutral' '116' '5' 'Active']
 ['22-12-2017' '4061' 'Sad' '129' '5' 'Inactive']
 ['23-12-2017' '651' 'Sad' '21' '5' 'Inactive']
 ['24-12-2017' '753' 'Sad' '28' '4' 'Inactive']
 ['25-12-2017' '518' 'Sad' '16' '3' 'Inactive']
 ['26-12-2017' '5537' 'Happy' '180' '4' 'Active']
 ['27-12-2017' '4108' 'Neutral' '138' '5' 'Active']
 ['28-12-2017' '5376' 'Happy' '176' '5' 'Active']
 ['29-12-2017' '3066' 'Neutral' '99' '4' 'Active']
 ['30-12-2017' '177' 'Sad' '5' '5' 'Inactive']
 ['31-12-2017' '36' 'Sad' '1' '3' 'Inactive']
 ['01-01-2018' '299' 'Sad' '10' '3' 'Inactive']
 ['02-01-2018' '1447' 'Neutral' '47' '3' 'Inactive']
 ['03-01-2018' '2599' 'Neutral' '84' '2' 'Inactive']
 ['04-01-2018' '702' 'Sad' '23' '3' 'Inactive']
 ['05-01-2018' '133' 'Sad' '4' '2' 'Inactive']
 ['06-01-2018' '153' 'Happy' '0' '8' 'Inactive']
 ['07-01-2018' '500' 'Neutral' '0' '5' 'Active']
 ['08-01-2018' '2127' 'Neutral' '0' '5' 'Inactive']
 ['09-01-2018' '2203' 'Happy' '0' '5' 'Active']]

In [47]:
data.ndim

2

In [48]:
data.shape

(96, 6)

In [49]:
data[1]

array(['07-10-2017', '6041', 'Sad', '197', '8', 'Inactive'], dtype='<U10')

In [50]:
print(data[:5])

[['06-10-2017' '5464' 'Neutral' '181' '5' 'Inactive']
 ['07-10-2017' '6041' 'Sad' '197' '8' 'Inactive']
 ['08-10-2017' '25' 'Sad' '0' '5' 'Inactive']
 ['09-10-2017' '5461' 'Sad' '174' '4' 'Inactive']
 ['10-10-2017' '6915' 'Neutral' '223' '5' 'Active']]

In [51]:
data_t = data.T #Transose
print(data_t)

[['06-10-2017' '07-10-2017' '08-10-2017' '09-10-2017' '10-10-2017'
  '11-10-2017' '12-10-2017' '13-10-2017' '14-10-2017' '15-10-2017'
  '16-10-2017' '17-10-2017' '18-10-2017' '19-10-2017' '20-10-2017'
  '21-10-2017' '22-10-2017' '23-10-2017' '24-10-2017' '25-10-2017'
  '26-10-2017' '27-10-2017' '28-10-2017' '29-10-2017' '30-10-2017'
  '31-10-2017' '01-11-2017' '02-11-2017' '03-11-2017' '04-11-2017'
  '05-11-2017' '06-11-2017' '07-11-2017' '08-11-2017' '09-11-2017'
  '10-11-2017' '11-11-2017' '12-11-2017' '13-11-2017' '14-11-2017'
  '15-11-2017' '16-11-2017' '17-11-2017' '18-11-2017' '19-11-2017'
  '20-11-2017' '21-11-2017' '22-11-2017' '23-11-2017' '24-11-2017'
  '25-11-2017' '26-11-2017' '27-11-2017' '28-11-2017' '29-11-2017'
  '30-11-2017' '01-12-2017' '02-12-2017' '03-12-2017' '04-12-2017'
  '05-12-2017' '06-12-2017' '07-12-2017' '08-12-2017' '09-12-2017'
  '10-12-2017' '11-12-2017' '12-12-2017' '13-12-2017' '14-12-2017'
  '15-12-2017' '16-12-2017' '17-12-2017' '18-12-2017' '19-12-2017'
  '20-12-2017' '21-12-2017' '22-12-2017' '23-12-2017' '24-12-2017'
  '25-12-2017' '26-12-2017' '27-12-2017' '28-12-2017' '29-12-2017'
  '30-12-2017' '31-12-2017' '01-01-2018' '02-01-2018' '03-01-2018'
  '04-01-2018' '05-01-2018' '06-01-2018' '07-01-2018' '08-01-2018'
  '09-01-2018']
 ['5464' '6041' '25' '5461' '6915' '4545' '4340' '1230' '61' '1258'
  '3148' '4687' '4732' '3519' '1580' '2822' '181' '3158' '4383' '3881'
  '4037' '202' '292' '330' '2209' '4550' '4435' '4779' '1831' '2255'
  '539' '5464' '6041' '4068' '4683' '4033' '6314' '614' '3149' '4005'
  '4880' '4136' '705' '570' '269' '4275' '5999' '4421' '6930' '5195'
  '546' '493' '995' '1163' '6676' '3608' '774' '1421' '4064' '2725'
  '5934' '1867' '3721' '2374' '2909' '1648' '799' '7102' '3941' '7422'
  '437' '1231' '1696' '4921' '221' '6500' '3575' '4061' '651' '753' '518'
  '5537' '4108' '5376' '3066' '177' '36' '299' '1447' '2599' '702' '133'
  '153' '500' '2127' '2203']
 ['Neutral' 'Sad' 'Sad' 'Sad' 'Neutral' 'Sad' 'Sad' 'Sad' 'Sad' 'Sad'
  'Sad' 'Sad' 'Happy' 'Sad' 'Sad' 'Sad' 'Sad' 'Neutral' 'Neutral'
  'Neutral' 'Neutral' 'Neutral' 'Neutral' 'Happy' 'Neutral' 'Happy'
  'Happy' 'Happy' 'Happy' 'Happy' 'Happy' 'Happy' 'Neutral' 'Happy'
  'Happy' 'Happy' 'Happy' 'Happy' 'Happy' 'Happy' 'Happy' 'Happy' 'Happy'
  'Neutral' 'Happy' 'Happy' 'Happy' 'Happy' 'Happy' 'Happy' 'Happy'
  'Happy' 'Happy' 'Neutral' 'Sad' 'Happy' 'Happy' 'Happy' 'Happy' 'Happy'
  'Happy' 'Happy' 'Sad' 'Neutral' 'Neutral' 'Sad' 'Sad' 'Neutral'
  'Neutral' 'Happy' 'Neutral' 'Neutral' 'Sad' 'Neutral' 'Sad' 'Neutral'
  'Neutral' 'Sad' 'Sad' 'Sad' 'Sad' 'Happy' 'Neutral' 'Happy' 'Neutral'
  'Sad' 'Sad' 'Sad' 'Neutral' 'Neutral' 'Sad' 'Sad' 'Happy' 'Neutral'
  'Neutral' 'Happy']
 ['181' '197' '0' '174' '223' '149' '140' '38' '1' '40' '101' '152' '150'
  '113' '49' '86' '6' '99' '143' '125' '129' '6' '9' '10' '72' '150'
  '141' '156' '57' '72' '17' '181' '197' '131' '154' '137' '193' '19'
  '101' '139' '164' '137' '22' '17' '9' '145' '192' '146' '234' '167'
  '16' '17' '32' '35' '220' '116' '23' '44' '131' '86' '194' '60' '121'
  '76' '93' '53' '25' '227' '125' '243' '14' '39' '55' '158' '7' '213'
  '116' '129' '21' '28' '16' '180' '138' '176' '99' '5' '1' '10' '47'
  '84' '23' '4' '0' '0' '0' '0']
 ['5' '8' '5' '4' '5' '6' '6' '7' '5' '6' '8' '5' '6' '7' '5' '6' '8' '5'
  '4' '5' '6' '8' '5' '6' '5' '8' '5' '4' '5' '4' '5' '4' '3' '2' '9' '5'
  '6' '4' '5' '8' '4' '5' '6' '5' '6' '5' '6' '5' '6' '5' '6' '7' '6' '7'
  '6' '5' '6' '7' '8' '8' '7' '8' '5' '4' '3' '3' '4' '5' '5' '5' '3' '4'
  '4' '5' '5' '5' '5' '5' '5' '4' '3' '4' '5' '5' '4' '5' '3' '3' '3' '2'
  '3' '2' '8' '5' '5' '5']
 ['Inactive' 'Inactive' 'Inactive' 'Inactive' 'Active' 'Inactive'
  'Inactive' 'Inactive' 'Inactive' 'Inactive' 'Inactive' 'Inactive'
  'Active' 'Inactive' 'Inactive' 'Inactive' 'Inactive' 'Inactive'
  'Inactive' 'Inactive' 'Inactive' 'Inactive' 'Inactive' 'Inactive'
  'Inactive' 'Active' 'Inactive' 'Inactive' 'Inactive' 'Inactive'
  'Active' 'Inactive' 'Inactive' 'Inactive' 'Inactive' 'Inactive'
  'Active' 'Active' 'Active' 'Active' 'Active' 'Active' 'Active' 'Active'
  'Active' 'Inactive' 'Inactive' 'Inactive' 'Inactive' 'Inactive'
  'Inactive' 'Active' 'Active' 'Active' 'Active' 'Active' 'Active'
  'Active' 'Active' 'Active' 'Active' 'Active' 'Active' 'Inactive'
  'Active' 'Active' 'Inactive' 'Active' 'Active' 'Active' 'Active'
  'Active' 'Inactive' 'Active' 'Active' 'Active' 'Active' 'Inactive'
  'Inactive' 'Inactive' 'Inactive' 'Active' 'Active' 'Active' 'Active'
  'Inactive' 'Inactive' 'Inactive' 'Inactive' 'Inactive' 'Inactive'
  'Inactive' 'Inactive' 'Active' 'Inactive' 'Active']]

In [52]:
data_t.shape

(6, 96)

In [54]:
dates = data_t[0]
print(dates)

['06-10-2017' '07-10-2017' '08-10-2017' '09-10-2017' '10-10-2017'
 '11-10-2017' '12-10-2017' '13-10-2017' '14-10-2017' '15-10-2017'
 '16-10-2017' '17-10-2017' '18-10-2017' '19-10-2017' '20-10-2017'
 '21-10-2017' '22-10-2017' '23-10-2017' '24-10-2017' '25-10-2017'
 '26-10-2017' '27-10-2017' '28-10-2017' '29-10-2017' '30-10-2017'
 '31-10-2017' '01-11-2017' '02-11-2017' '03-11-2017' '04-11-2017'
 '05-11-2017' '06-11-2017' '07-11-2017' '08-11-2017' '09-11-2017'
 '10-11-2017' '11-11-2017' '12-11-2017' '13-11-2017' '14-11-2017'
 '15-11-2017' '16-11-2017' '17-11-2017' '18-11-2017' '19-11-2017'
 '20-11-2017' '21-11-2017' '22-11-2017' '23-11-2017' '24-11-2017'
 '25-11-2017' '26-11-2017' '27-11-2017' '28-11-2017' '29-11-2017'
 '30-11-2017' '01-12-2017' '02-12-2017' '03-12-2017' '04-12-2017'
 '05-12-2017' '06-12-2017' '07-12-2017' '08-12-2017' '09-12-2017'
 '10-12-2017' '11-12-2017' '12-12-2017' '13-12-2017' '14-12-2017'
 '15-12-2017' '16-12-2017' '17-12-2017' '18-12-2017' '19-12-2017'
 '20-12-2017' '21-12-2017' '22-12-2017' '23-12-2017' '24-12-2017'
 '25-12-2017' '26-12-2017' '27-12-2017' '28-12-2017' '29-12-2017'
 '30-12-2017' '31-12-2017' '01-01-2018' '02-01-2018' '03-01-2018'
 '04-01-2018' '05-01-2018' '06-01-2018' '07-01-2018' '08-01-2018'
 '09-01-2018']

In [55]:
step_count = data_t[1]
print(step_count)

['5464' '6041' '25' '5461' '6915' '4545' '4340' '1230' '61' '1258' '3148'
 '4687' '4732' '3519' '1580' '2822' '181' '3158' '4383' '3881' '4037'
 '202' '292' '330' '2209' '4550' '4435' '4779' '1831' '2255' '539' '5464'
 '6041' '4068' '4683' '4033' '6314' '614' '3149' '4005' '4880' '4136'
 '705' '570' '269' '4275' '5999' '4421' '6930' '5195' '546' '493' '995'
 '1163' '6676' '3608' '774' '1421' '4064' '2725' '5934' '1867' '3721'
 '2374' '2909' '1648' '799' '7102' '3941' '7422' '437' '1231' '1696'
 '4921' '221' '6500' '3575' '4061' '651' '753' '518' '5537' '4108' '5376'
 '3066' '177' '36' '299' '1447' '2599' '702' '133' '153' '500' '2127'
 '2203']

In [62]:
print(max(step_count))
print(min(step_count))

995
1163